.App {
  text-align: center;
}

.dropzone {
  width : 60%;
  height: 10%;
  margin: 2em auto;
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
}

.dropzone-accept {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgreen;
}

.dropzone-reject {
  border-style: solid;
  background-color: lightgray;
  border-color: lightcoral;
  color: lightcoral;
}

.file-uploaded {
  color: lightgreen;
}

.file-failed {
  color : lightcoral;
}

.total {
  color: grey;
}